#Logo{
    height: 60px;
    width: 60px;
}
.bg-azul{
    background-color: #0e135a;
}
.c-azul{
    color: #0e135a;

}
.bg-violeta{
        background-color: #8011f2;
}
.c-violeta{
    color: #8011f2;
}

.c-blanco{
    color: white;
}